.form{
  display: flex;
  flex-direction: column;
  gap:1rem;
  width:100%;
  input, textarea{
    border-radius:5px;
    padding:0.5rem;
    border:none;
    background-color: lighten(rgb(54, 54, 70),20);
    color:white;
    border:1px solid lighten(rgb(54, 54, 70),25);
    ::placeholder{
      color:lighten(rgb(54, 54, 70),25);
    }
    &:focus{
      outline:none;
      border:2px solid lighten(rgb(54, 54, 70),25);
    }
  }
  ::placeholder{
    color:lighten(rgb(54, 54, 70),40);
  }
}