@import "./variables";
@import "./reset";
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: $primary;
  color:white;
}

body {
  margin: 0;
  padding:2rem 25%;
}

@media screen and (max-width:1024px){
  body{
    padding:2rem 15%;
  }
}
@media screen and (max-width:425px){
  :root{
    font-size:12px
  }
}

// 425